.heading {
    color: white;
    font-size: 3rem;
    margin-left: 3%;
}

.point_list {
    list-style: none;
    color: white;
    margin:3% 4%;
    padding: 0;
    list-style-type: disc;
}

.point_list li {
    position: relative;
    padding-left: 20px;
    margin-bottom: 10px;
    font-size: 1.5rem;
    line-height: 1.5;
}